<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.main.model.dao.user.UserExerciseDao">

	<!-- 운동 요약 -->
	<insert id="insertSummary" parameterType="UserExercise">

		INSERT INTO
		userExercise(userId, saveDate, caloriesOut,
		activityCalories,
		step)
		VALUES (#{userId}, #{saveDate},#{caloriesOut},
		#{activityCalories},
		#{step})
	</insert>

	<update id="updateSummary" parameterType="UserExercise">
		UPDATE userExercise set
		caloriesOut=#{caloriesOut},
		activityCalories=#{activityCalories},
		step=#{step} WHERE userId=#{userId}
		and saveDate=#{saveDate}
	</update>


	<select id="getUserExercise" parameterType="String"
		resultType="UserExercise">
		SELECT * FROM userExercise WHERE userId=#{userId}
	</select>


	<select id="getConditionUser" parameterType="UserExercise"
		resultType="UserExercise">
		SELECT * FROM userExercise WHERE userId=#{userId} AND
		saveDate=#{saveDate}
	</select>

</mapper>
